{% extends "layouts/module_admin.html" %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="YandexHome">Yandex Home</a></li>
{% endblock %}
{% block module %}

<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<div id="edit_device">
    <form @submit.prevent="updateDevice">
        <div class="input-group my-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
            <input type="text" class="form-control" id="name" v-model="device.title">
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
            <input type="text" class="form-control" id="name" v-model="device.description">
        </div>
        <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Type</span>
                <span class="input-group-text" id="inputGroup-sizing-sm">
                    <img :src="'/YandexHome/static/devices/'+ device.type +'.png'" height="30px" :alt="device.type" onError="this.src='/YandexHome/static/YandexHome.png'"/>
                </span>
                <select id="type-select"  class="form-control selectpicker" v-model="device.type">
                    <option v-for="value,key in devices_types" :value="key" :key="key" data-thumbnail="images/icon-chrome.png">
                        [[ value ]]
                    </option>
                </select>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-sm">Room</span>
            <input type="text" class="form-control" id="name" v-model="device.room">
        </div>
        <button class="btn btn-primary mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Advanced
         </button>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Manufacturer</span>
                <input type="text" class="form-control" id="name" v-model="device.manufacturer">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Model</span>
                <input type="text" class="form-control" id="name" v-model="device.model">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">SW version</span>
                <input type="text" class="form-control" id="name" v-model="device.sw_version">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">HW version</span>
                <input type="text" class="form-control" id="name" v-model="device.hw_version">
            </div>
          </div>
        </div>
        <div class="dropdown mt-3">
            <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Add capability
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li v-for="(item, key) in devices_instance">
                <h6 v-if="key=='controls_locked'" class="dropdown-header">Actions</h6>
                <h6 v-if="key=='amperage_sensor'" class="dropdown-header">Sensors number</h6>
                <h6 v-if="key=='vibration_event'" class="dropdown-header">Sensors event</h6>
                <a :class="'dropdown-item ms-3' + (key in device.capability ? ' disabled' :'')" href="#" @click="addCapability(item)">[[ item.description ]]</a>
              </li>
            </ul>
        </div>
        <div class="list-group" v-if="Object.keys(device.capability).length > 0">
            <div class="list-group-item list-group-item-action" v-for="item,key in device.capability" :key="'cap_'+key">
                [[ item.description ]]
                <div class="d-flex align-items-start">
                    <div>
                        <select-with-filter placeholder="Select object" :options="objectOptions" v-model="item.linked_object" @changed="item.linked_property = null" style="min-width: 300px;max-width: 300px;"></select-with-filter>
                    </div>
                    <div>
                        <select-with-filter placeholder="Select property" v-if="item.linked_object && item.linked_object in objects" :options="objects[item.linked_object].properties" v-model="item.linked_property"  style="min-width: 300px;max-width: 300px;"></select-with-filter>
                    </div>
                    <div class="form-check mt-2 mx-2">
                        <input class="form-check-input" type="checkbox" v-model="item.reportable" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Reportable
                        </label>
                    </div>
                    <div v-if="item.type in devices_instance && devices_instance[item.type].capability ==='on_off'" class="form-check mt-2 mx-2">
                        <input class="form-check-input" type="checkbox" v-model="item.split" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Split
                        </label>
                    </div>
                    <a class="btn btn-danger ms-2 ms-auto" @click="delCapability(key)"><i class="fas fa-trash"></i></a>
                </div>
                <div v-if="item.type in devices_instance && devices_instance[item.type].parameters && 'range' in devices_instance[item.type].parameters" class="d-inline-flex mb-2">
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Min</span>
                        <input type="number" class="form-control" aria-label="Min" v-model="item.min">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Max</span>
                        <input type="number" class="form-control" aria-label="Max" v-model="item.max">
                    </div>
                    <div class="input-group input-group-sm mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Precision</span>
                        <input type="number" class="form-control" aria-label="Precision" v-model="item.precision">
                    </div>
                </div>
                <div v-if="item.type in devices_instance && devices_instance[item.type].parameters && 'modes' in devices_instance[item.type].parameters"  class="d-inline-flex my-2">
                    <div class="dropdown">
                        <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Add mode
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li v-for="mode in devices_instance[item.type].parameters.modes">
                            <a class="dropdown-item ms-3" href="#" @click="addMode(key,mode)">[[ mode.value ]]</a>
                          </li>
                        </ul>
                    </div>
                    <a v-for="mode in item.modes" class="btn btn-outline-danger ms-2" href="#" @click="delMode(key, mode.value)">
                        [[ mode.value ]]
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
                <div v-if="item.type in devices_instance && devices_instance[item.type].parameters && 'scenes' in devices_instance[item.type].parameters"  class="d-inline-flex my-2">
                    <div class="dropdown">
                        <a class="btn btn-warning dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                          Add scene
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <li v-for="scene in devices_instance[item.type].parameters.scenes">
                            <a class="dropdown-item ms-3" href="#" @click="addScene(key,scene)">[[ scene.id ]]</a>
                          </li>
                        </ul>
                    </div>
                    <a v-for="scene in item.scenes" class="btn btn-outline-danger ms-2" href="#" @click="delScene(key, scene.id)">
                        [[ scene.id ]]
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="my-2 mt-3">
            <button class="btn btn-success" type="submit" :disabled="isSaving">
                <span v-if="isSaving" class="fas fa-rotate me-2" role="status" aria-hidden="true"></span>
                Save
            </button>
            <a href="YandexHome" class="btn btn-secondary">Cancel</a>
        </div>
    </form>
    <p>[[ message ]]</p>
</div>
<script src="{{ config.ASSETS_ROOT }}/js/components/select-with-filter.js"></script>
<script>
    new Vue({
        el: '#edit_device',
        delimiters: ['[[', ']]'], // Измененные разделители
        data: {
            isSaving: false,
            device: {
                id: '', // Идентификатор 
                title: '',
                description: '',
                type: null,
                room:"",
                description:"",
                manufacturer:"",
                model:"",
                sw_version:"",
                hw_version:"",
                capability:{},
            },
            message: '',
            devices_types:[],
            devices_instance:[],
            objects:[],
            isOpen:false,
        },
        async created() {
            await this.fetchTypes()
            await this.fetchObjects()
            const deviceId = '{{id}}';
           //this.message = deviceId
            if (deviceId != 'None')
                this.fetchDevice(deviceId);
        },
        computed:{
            objectOptions(){
                list = {}
                Object.keys(this.objects).forEach(key => {
                    list[key] = this.objects[key].description
                });
                return list
            }
        },
        methods: {
            async fetchTypes(){
                axios.get(`/YandexHome/types`)
                    .then(response => {
                        this.devices_types = response.data.devices_types
                        this.devices_instance = response.data.devices_instance
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching user: ' + error;
                    });
            },
            fetchObjects(){
                axios.get(`/api/object/list/details`)
                    .then(response => {
                        this.objects = response.data.result
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching user: ' + error;
                    });
            },
            fetchDevice(deviceId) {
                // Получение данных пользователя с сервера
                axios.get(`/YandexHome/device/${deviceId}`)
                    .then(response => {
                        var device = response.data;
                        console.log(device.capability)
                        device.capability = JSON.parse(device.capability)
                        this.device = device;
                    })
                    .catch(error => {
                        console.log(error)
                        this.message = 'Error fetching user: ' + error;
                    });
            },
            updateDevice() {
                this.isSaving = true
                this.message = 'Saving...'
                // Обновление данных пользователя на сервере
                axios.post(`/YandexHome/device/${this.device.id}`, this.device)
                    .then(response => {
                        this.message = 'Device updated successfully!';
                        this.isSaving = false
                        window.location.href = 'YandexHome';
                    })
                    .catch(error => {
                        this.message = 'Error updating device: ' + error;
                        this.isSaving = false
                    });
            },
            addCapability(item){
                console.log('add', item)
                cap = {
                    "type":item.instance_name,
                    "description":item.description,
                    "linked_object": null,
                    "linked_property":null,
                    "reportable": false,
                }
                if ('parameters' in this.devices_instance[item.instance_name]){
                    if ('range' in this.devices_instance[item.instance_name]['parameters'])
                    {
                        cap['min'] = this.devices_instance[item.instance_name]['parameters']['range']['min']
                        cap['max'] = this.devices_instance[item.instance_name]['parameters']['range']['max']
                        cap['precision'] = this.devices_instance[item.instance_name]['parameters']['range']['precision']
                    }
                    if ('split' in this.devices_instance[item.instance_name]['parameters'])
                    {
                        cap['split'] = this.devices_instance[item.instance_name]['parameters']['split']
                    }
                    if ('modes' in this.devices_instance[item.instance_name]['parameters'])
                        cap['modes'] = this.devices_instance[item.instance_name]['parameters']['modes']
                    if ('scenes' in this.devices_instance[item.instance_name]['parameters'])
                        cap['scenes'] = this.devices_instance[item.instance_name]['parameters']['scenes']
                }
                this.$set(this.device.capability, item.instance_name, cap);
                console.log(this.device)
            },
            delCapability(key) {
                // Удаляем запись из словаря
                this.$delete(this.device.capability, key);
            },
            addMode(key,value){
                if ("modes" in this.device.capability[key] == false)
                    this.$set(this.device.capability[key], 'modes', [])
                this.device.capability[key].modes.push(value);
            },
            delMode(key, value){
                this.device.capability[key].modes = this.device.capability[key].modes.filter(mode => mode.value !== value);
            },
            addScene(key,value){
                if ("scenes" in this.device.capability[key] == false)
                    this.$set(this.device.capability[key], 'scenes', [])
                this.device.capability[key].scenes.push(value);
            },
            delScene(key, value){
                this.device.capability[key].scenes = this.device.capability[key].scenes.filter(scene => scene.id !== value);
            },
        }
    });
</script>
    
{% endblock %}